@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');
@media (max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
    }
}
body {
    padding: 0;
    margin: 0;
}
header {
    padding-left: 60px;   
}
p {
    padding: 0;
    margin: 0;
}
.inform-box {
    font-size: 14px;
    padding-left: 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","SF Pro Text";

}

.contacts {
    margin-left: auto;
    padding-bottom: 0px;
    color: grey;
}
.contacts b:hover {
    text-decoration: underline;
    color: grey;
}
.contacts b {
    padding-right: 20px;
    text-decoration: none;
}
@media (min-width: 700px) {
    #box {
    background-color: orange;
    box-orient: horizontal;
    align-items: center;
    display: flex;
    height: 70px;
}
}

@media (min-width: 700px) {
    .logo {
    width: 10%;
    margin-right: 40px;
    padding-left:100px;
}
}
@media (min-width: 700px) {
.logo img {
    width: 157px;
}
}
@media (min-width: 700px) {
     .menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;

}
}
@media (min-width: 700px) {
    #nav {
    color: white;
    text-align: left;
    margin-left: auto;
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
  
}

}
@media (min-width: 700px) {
    #nav li {
    display: inline;
} 
}   
@media (min-width: 700px) {
    #nav b {
    margin-right: 30px;
}
}
    .menu b {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    padding-right: 40;
}
    .menu b:hover {
    color:black;
    text-decoration: underline;
}
@media (min-width: 700px) {
    .social-media {
    text-align: right;
    background-color: orange;
    padding-top: 12px;
}
}
@media (min-width: 700px) {
    .social-media img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    
}
}
    .social-media img:hover {
background-color:darkorange;
}
@media (min-width: 700px) {
    .social-media {
    margin-left: auto;
    padding-right: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
}
.background {
    background: url("../img/backgrounds/background.jpeg") no-repeat center;
    background-size: cover;
    background-position: center top;
    position: relative;
    min-height: 400px;
    }
    @media (min-width: 700px) {
        .background {
            height: 675px;
        }
    }
    @media (min-width: 700px) {
    .background-text {
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 0px;
}
    }
.musical-instruments1 {
    color: orange;
    font-size: 16px;
    line-height: 1.5;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    word-wrap: break-word;

}

.selection {
    text-transform: capitalize;
    font-size: 54px;
    color: #242424;
    line-height: 1.2;
    font-family: Work Sans,sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}

.horizontal-line {
    width: 60px;
    height: 2px;
    margin-left: 0px;
    background-color: orange;
    border: 0;
    margin-top: 20px;
}
#button1 {
    color: white;
    text-transform: capitalize;
    background-color: orange;
    border: 0;
    border-radius: 4px;
    width: 141px;
    height: 55px;
}
#button1:hover {
    background:black;
}
.inform-box {
    display: flex;
    align-items: center;
    padding: 10px 60px 10px 40px;
}
@media (max-width: 425px) 
{inform-box {
    padding: 0;
}
}
.inform-box p {
    color: grey;
}
.orange {
    color: orange;
}
@media (min-width: 700px) {
.service-list {
    display:flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px; 
}
}
.box-item {
    width: 25%;
    text-align: center;
    border: 3px solid #F3F3F3;
    width: 270px;
    height: 200px;
    margin-right: 5%;
    
}
.box-item img {
    width: 50px;
    height: 50px;
    padding-top: 25px;
}
#grey-text {
    font-size: 20px;
    line-height: 1.4444;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #777;
    text-transform: none;
    padding-top: 20px;
    padding-bottom: 50px;
}
.green {
    color: green;
}
.box-first-text {
    font-size: 24px;
    line-height: 1.4;
    font-family: Work Sans,sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #242424;
}
.box-second-text {
    font-size: 14px;
    line-height: 1.4285;
    font-family: Work Sans,sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #777;
    
}

@media (min-width: 700px) {.contact-box {
    display: none;
}
.burger-icon {
    display: none;
}
}
@media (min-width: 700px) and (max-width: 1046px) {
        .social-media {
            display: none;
        }
    
}