@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap');

.footer-top {
  background-color:  #242424;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px;
  grid-column-gap: 30px;

}

.footer-buttom {
  background-color: rgb(30, 30, 30);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 10px 10px 100px;
}

.orange-color {
  color: #f8b803;
}

.uppercase {
  text-transform: uppercase;
}

.footer-nav-block-tittle {
  font-weight: bold;
  color: #fff;
}

.footer-contact-link {
  font-weight: bold;
  color: #f8b803;
  text-decoration: none;
}

.footer-gray-text {
  color: #757575;
  text-decoration: none;
}

a:hover {
    color: #f8b803;
    font-style: unset;
    text-decoration: underline;
  }

input[type=text] {

  border-color: rgb(82, 82, 82);
  background-color: rgba(89, 89, 89, 0.24);
  color: rgb(82, 82, 82);
  border-radius: 5px;
  margin: auto;

}

.orchestric-sale-week-banner {
  background: url(..img/backgrounds/background-orchestric-sale-week.webp);
  display: flex;
  justify-content: left;
  align-items: center;
}

/* .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px;
  grid-column-gap: 30px;
} */