/* Maksym Orekhovskyi Beginning */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
 :root {
    --greydecoration-color: #777;
    --logo-color: #f8b803;
    font-family: 'Work Sans', sans-serif;
}
section .new_arrivals_section {
    max-width: 1200px;
    }
section .megasellday_coundown_section {
    max-width: 1200px;
    width: 410px;

}
.orangesmalltext {
    text-align: center;
    color: var(--logo-color);
    margin-top: 150px;
}

.heading {
    text-align: center;
    font-size: larger;
}
.countdownTime_size {
    font-size: 25px;
    font-weight: bold;
}
#w-text {
    font-size: 15px;
    color: var(--greydecoration-color);
}
.divider-component-block {
    display: grid;
}
.divider-component {
    margin: auto;
}

.grey-text {
    margin-top: 15px;
    color: var(--greydecoration-color);
    text-align: center;
    font-size: larger;
}

.owl-carousel {
    display: flex;
    margin: 50px 190px 80px 190px;
    color: var(--greydecoration-color);
    font-weight: bold;
}

.product_1 {
    margin-left: 200px;
}

.Slide {
    margin-left: 30px;
}

.mainblock {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-bottom: 50px;
}

.left_block {
    background-image: url(../img/maksym-img/sticks.png);
    background-size: 510px;
    background-repeat: no-repeat;
    background-color: #fafafa;
    width: 476px;
    height: 350px;
    margin-right: 35px;
    text-align: center;
}

.left_block p {
    font-size: 14px;
    font-weight: bold;
}

.textleftblock {
    margin-top: 70px;
}

.speckcolor {
    color: var(--logo-color);
}

.specialrates {
    font-size: 11px !important;
    text-transform: uppercase;
    color: var(--greydecoration-color);
}

.left_block .leftcolor {
    color: rgb(102, 153, 4);
    font-size: 17px;
}

.megasale {
    font-size: 34px;
}

.left_block .regretlater {
    font-size: 16px;
    color: var(--greydecoration-color);
    font-weight: unset;
    margin-top: 30px;
}

.right_block {
    background-image: url(../img/maksym-img/gutaitbackround.png);
    background-size: cover;
    width: 670px;
    height: 350px;
    text-align: left;
    padding-left: 45px;
    border-radius: 2px;
}

.textrightblock {
    margin-top: 50px;
}

.description a {
    text-decoration: none;
    color: black;
}

.description a:hover {
    color: var(--logo-color);
    text-decoration:none;
}

.owl-carousel button {
    margin-top: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
}

.owl-carousel button:hover {
    background-color: var(--logo-color);
    border: none;
}

.textrightblock button {
    height: 45px;
    width: 110px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

.textrightblock button:hover {
    background-color: var(--logo-color);
    border: none;
}

.textrightblock button {
    background-color: white;
    border: none;
    color: black;
    margin-top: 35px;
    
}

.namemartin {
    color: white;
    line-height: 20px;
    margin-top: 20px;
}

.numberg56q {
    color: white;
    margin-top: 15px;
    line-height: 15px;
}

.price299 {
    line-height: 40px;
    color: var(--logo-color);
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.changecolor {
    color: white;
}

.bestprice {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.coundownbody {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.separatebody_line {
    opacity: .4;
    width: 1px;
    height: 80px;
    background-color: rgb(107, 107, 107);
}

.bodytime {
    margin-top: 20px;
    display: flex;
    font-size: 18px;
    line-height: 27px;
    color: rgb(107, 107, 107);
}

.description {
    margin-bottom: 10px;
}
.owl-carousel {
    width: 1100px;   
    align-items: center;
    ;
    
   }
   .owl-dots {
    display: none;
    }
   .owl-carousel .owl-nav [class*=owl-] {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       margin-top: -20px;  
       
       
   }
   .owl-carousel .owl-nav button.owl-next {
       right: -200px;
   
   }
   .owl-carousel .owl-nav button.owl-prev {
    left: -200px;

}
   .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
   font-size: 60px;
   color:grey;
   }
   .owl-dots :hover {
      width: 1px;
      height: 1px;
      
   }
   @media (max-width:750px) {
       :root {
           max-width: 720px;
       }
    .mainblock {
          display: flex;
          flex-direction: column;
          align-items: left;
          margin-left: 0;
        }
        .left_block {
          width: 100%;
        }
   .new_arrivals_block {
       text-align: center;
   }
   
    }
  


/* Maksym Orekhovskyi Finishing*/