/* Maksym Orekhovskyi Beginning */
.orangesmalltext {
   text-align: center;
   color: #f8b803;
}
.heading {
    text-align: center;
    font-size: larger;
}
.divider-component {
    margin: auto;
}
.grey-text {
    color: gray;
    text-align: center;
    font-size: larger;
}
.carousel {
    display: flex;
    
}
.product_1 {
    margin-left: 200px;
}
.product_2 {
    margin-left: 30px;
}
.product_3 {
    margin-left: 30px;
}
 .product_4 {
    margin-left: 30px;
 }
 .product_1 p























/* Maksym Orekhovskyi Finishing*/