/* Maksym Orekhovskyi Beginning */
.orangesmalltext {
    text-align: center;
    color: #f8b803;
 }
 .heading {
     text-align: center;
     font-size: larger;
 }
 .divider-component {
     margin: auto;
 }
 .grey-text {
     color: gray;
     text-align: center;
     font-size: larger;
 }
 .carousel {
     display: flex;
     
 }
 .product_1 {
     margin-left: 200px;
 }
 .allproducts {
     margin-left: 30px;
 }
.mainblock {
margin-bottom: 15cm;
margin-top: 82px;
}
.left_block {
    height: 350px;
    background-image: url(../img/maksym-img/sticks.png);
    background-size: 500px;
    background-repeat: no-repeat;
    width: 506px;
    margin-left: 170px;
    float: left;
    ;
}
.right_block {
    height: 350px;
    background-image: url(../img/maksym-img/gutaitbackround.png);
    background-size: cover;
    width: 657px;
    margin-right: 170px;
    float: right;
    ;
}
 .text_mainblock {
     margin-top: 80px;
     margin-left: 95px;
 }

  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* Maksym Orekhovskyi Finishing*/