/* Maksym Orekhovskyi Beginning */
:root {
    --logo-color:#f8b803;
}
.orangesmalltext {
    text-align: center;
    color: var(--logo-color);
 }
 .heading {
     text-align: center;
     font-size: larger;
 }
 .divider-component {
     margin: auto;
 }
 .grey-text {
     color: gray;
     text-align: center;
     font-size: larger;
     
 }
 .carousel {
     display: flex;
    margin: 50px 190px 50px 190px; 
    color:gray;
    font-weight: bold;
     
 }
 .product_1 {
     margin-left: 200px;
 }
 .allproducts {
     margin-left: 30px;
 }
.mainblock {
display:flex;
flex-direction: row;
margin-left: 170px;

}
.left_block {
    background-color: #fafafa;
    width: 476px;
    height: 350px;
    margin-right: 35px;
    text-align: center;
}
.textleftblock {
    margin-top: 70px;
}
.specialrates {
text-transform: uppercase;
color:grey;
}
.megasale {
    
}
.right_block {
   background-image: url(../img/maksym-img/gutaitbackround.png);
   background-size: cover;
   width: 670px;
   height: 350px;
   text-align: left;
   padding-left: 45px;
   border-radius: 2px;
}
.textrightblock {
    margin-top: 50px;
}
    


 .description a {
     text-decoration: none;
     color: black;
 }
 .description a:hover{
 color: var(--logo-color);
 }
 .carousel button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
 }
 .carousel button:hover {
    background-color: var(--logo-color) ;
    border:none;
 }
 .textrightblock button {
     height: 45px;
     width: 110px;
     border-radius: 5px;
     font-weight: bold;
     border: none;
     margin-top: 20px;
 }
 .textrightblock button:hover {
    background-color:var(--logo-color) ;
    border:none;
}
.namemartin {
   color: white;
    line-height: 20px;
}
.numberg56q {
   color: white;
    line-height: 15px;
}
.price299 {
    line-height: 40px;
    color:var(--logo-color);
    font-size: 20px;
    font-weight: bold;
}
 
.changecolor {
    color: white;
}
    
.bestprice {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* Maksym Orekhovskyi Finishing*/