@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


.our-choice {
    font-family: Work Sans, sans-serif;
    padding: 60px 0 60px 0;
}

.choices {
font-size: 12px;
font-weight: 600;
display: block;
text-align: center;
color: orange;
}

.sell-instrument {  
    font-size: 34px;
   font-weight: 600;
   display: block;
   text-align: center;
   color:black;
}

.best {
    background-color: orange;
    height: 2px;
    display: block;
    border: none;
    width: 28px;
    
}

.card-description {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #777777;
}

.carousel-descr {
    display: block;
    font-size: 16px;
    color: black;

    }
