@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap');

.promotion {
    background-image: url(../img/baner.jpeg);
    min-height: 400px;
    background-size: cover;
    background-position: center;

}

h5 {

    text-align: left;
    color: orange;
    display: block;
    font-family: 'Work Sans', sans-serif;
    padding-left: 40px;
    padding-top: 40px;

}

.give {
    text-align: left;
    color: white;
    display: block;
    font-family: 'Work Sans', sans-serif;
    padding-left: 40px;
}
 .buy-instrument {
     color: gray;
     display: block;
 }

 .percent {
     color:green;
 }

 .offer-valid {
     color: white;
 }
 .browse {
     display: block;
     margin-top: 150px;
     margin-left: 40px;
    
 }

 