@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


.promotion {
    background-image: url(../img/promotion-background.webp);
    height: 390px;
    background-size: cover;
    background-position: center;
    width: 1170px;
    margin: auto;
}

.prom {

    text-align: left;
    color: orange;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.83em;
    padding-left: 50px;
    padding-top: 50px;
    font-weight: 600;

}

.give {
    text-align: left;
    color: white;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0 20px 40px;
margin: 0 0 0 0;
}

.give-point {
color: orange;
}

 .buy-instrument {
     text-align: left;
     color: gray;
     display: block;
     font-family: 'Work Sans', sans-serif;
     font-weight: bold;
     padding: 0px 0px 20px 40px;
     
 }

 .percent {
     color:green;
 }

 .offer-valid {
     text-align: left;
     color: white;
     display: block;
     font-family: 'Work Sans', sans-serif;
     padding-left: 40px;
     margin: 0 0 0 0;
 }
 
.button-promotion {
    padding: 100px 45px 40px 40px;
    
}

.btn-promotion {
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: orange;
     border-radius: 3px;
     text-decoration: none;
     width: 180px;
    height: 45px;
    margin-bottom: 40px;
    font-size: 14px;
 }

 .btn-promotion:hover  {
     background-color: white;
     text-decoration: none;
 }

 .browse-ins {
    color: white;
}
 .browse-ins:hover {
         color: black;
}
