.big-sale-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
}

@media(max-width:700px){
    .big-sale-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.big-sale-left{
    width: 582px;
    height: 359px;
    background-image: url(img/fon-drum1.png);
    background-size: cover;
    text-align: center;
}

.big-sale-one{
    display: block;
    font-size: 12px;
    line-height: 1.4;
    color: #f8b803;
    padding-top: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.big-sale-two{
    font-size: 40px;
    color: #FFFFFF;
    line-height: 1.1;
    margin-bottom: 35px;
}

.big-sale-three{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.big-sale-four{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 50px;
}


.big-sale-bottom > a {
  text-decoration: none;
  color: white;
}

.big-sale-guitar {
  width: 582px;
  height: 359px;
  background-image: url(img/fon-guitar1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}

.big-sale-guitar-one {
  font-size: 12px;
  line-height: 1.4;
  color: #f8b803;
  padding: 100px 20px 30px 50px;
}

.big-sale-guitar-two {
  font-size: 40px;
  color: #242424;
  line-height: 1.1;
  padding: 0px 20px 30px 50px;
}

.navbar-light .navbar-toggler{
  margin: auto 20px;
}

.color-text {
    color: #f8b803;
}

.button-big-sale {
    background-color: #f8b803; 
    color: white; 
    border: none;
    font-size: 16px;
    line-height: 3.5;
    text-align: center;
    vertical-align: center;
    width: 140px;
    height: 55px;
    border-radius: 5px;
    margin: auto;
}

.button-big-sale:hover {
    background-color: white;
    color: black;
}

