
.drumm1 {
    background-image: url(img/drum-baground-img.webp);
    background-position: center;
    background-size: cover;
    margin: 5%;
    padding: 5%;
}
.drumtxt1 {
    padding-top: 10%;
    text-align: center;
}
.buttonn {
    text-align: center;

}
.buttonn1 {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    background-color: #f8b803;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.buttonn1:hover {
    background-color: white;
    color: black;
}
.guitarr1 {
    background-image: url(img/guitar-baground-img.webp);
    background-position: center;
    background-size: cover;
    margin: 5%;
    padding: 5%;
}
.guitartxt1 {
    padding-top: 15%;
    padding-left: 10px;
}
h1 {
    font-size: 45px;
}
.colorm {
    color: #f8b803;
}
.colorm1 {
    color: white;
}
.carousell1 {
    display:flex;
    background-position: center;
    width: 110px;
    height: 110px;
}
