@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 980px;
    margin: auto;
}

header {
    padding-left: 60px;   
}
p {
    padding: 0;
    margin: 0;
}
.inform-box {
    font-size: 14px;
    padding-left: 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","SF Pro Text";

}
.contacts {
    margin-left: auto;
    padding-bottom: 0px;
    color: grey;
}
.contacts a:hover {
    text-decoration: underline;
    color: grey;
}
.contacts a {
    padding-right: 20px;
    text-decoration: none;
}
#box {
    background-color: orange;
    box-orient: horizontal;
    align-items: center;
    display: flex;
    height: 70px;
}
.logo {
    width: 10%;
    margin-right: 40px;
    padding-left:100px;
}
.logo img {
    width: 157px;
}
.menu {
    margin-left: auto;
    margin-right: -200px;
}
#nav {
    color: white;
    text-align: right;
    margin-left: auto;
    text-decoration: none;
    list-style-type: none;
}
#nav li {
    display: inline;
}    
#nav a {
    margin-right: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    padding-right: 40;
}
.menu a:hover {
    color:black;
    text-decoration: underline;
}
.social-media {
    text-align: right;
    background-color: orange;
}
.social-media img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}
.social-media img:hover {
    background-color: white;
}
.social-media {
    margin-left: auto;
    padding-right: 80px;
}
.background {
    background: url("img/background.jpeg") no-repeat center;
    background-size: 100% auto;
    background-position: center top;
    position: relative;
    height: 675px;
    }
.background-text {
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 0px;
}
.musical-instruments {
    color: orange;
    font-size: 16px;
    line-height: 1.5;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    word-wrap: break-word;

}

.selection {
    text-transform: capitalize;
    font-size: 54px;
    color: #242424;
    line-height: 1.2;
    font-family: Work Sans,sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}

.horizontal-line {
    width: 60px;
    height: 2px;
    margin-left: 0px;
    background-color: orange;
    border: 0;
    margin-top: 20px;
}
button {
    color: white;
    text-transform: capitalize;
    background-color: orange;
    border: 0;
    border-radius: 4px;
    width: 141px;
    height: 55px;
}
button:hover {
    background:black;
}
.inform-box {
    display: flex;
    align-items: center;
    padding: 10px 60px 10px 40px;
}
.inform-box p {
    color: grey;
}
.orange {
    color: orange;
}
.service-list {
    display:flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
}
.box-item {
    width: 25%;
    text-align: center;
    border: 3px solid #F3F3F3;
    width: 270px;
    height: 200px;
    
}
.box-item img {
    width: 50px;
    height: 50px;
    padding-top: 25px;
}
#grey-text {
    font-size: 20px;
    line-height: 1.4444;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #777;
    text-transform: none;
    padding-top: 20px;
    padding-bottom: 50px;
}
.green {
    color: green;
}
.box-first-text {
    font-size: 24px;
    line-height: 1.4;
    font-family: Work Sans,sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #242424;
}
.box-second-text {
    font-size: 14px;
    line-height: 1.4285;
    font-family: Work Sans,sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #777;
}